<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::common_head(title)">
</head>
<body class="sb-nav-fixed">
<nav th:replace="common::common_nav"></nav>
<div id="layoutSidenav">
    <div th:replace="common::layoutSidenac">
    </div>
    <div id="layoutSidenav_content">
        <div class="container">
            <br><br><br><br>
            <br>
            <br>
            <div class="row m-5">


                <h1 class="text-center mb-4">Add A New Inventory </h1>
                <hr>
                <br>
            </div>
            <form th:action="@{/addsingleInventory}" method="POST">
                <div class="row">
                    <table>
                        <!-- category name -->
                        <tr>
                            <td class="col-3"></td>
                            <td class="col-2">
                                <div class="input-group mb-6">
                                    <label>Category Name: </label>
                                </div>
                            </td>
                            <td class="col-4">
                                <div class="input-group mb-6">
                                    <select id="categoryname" onchange="getSelectedValue()" name="categoryId">
                                      <option th:each="category,index :${categorynamelist}"
                                                th:value="${index.index}+1"
                                                th:text="${category.name}"></option>
                                    </select>
                                </div>
                            </td>
                            <td class="col-3"></td>
                        </tr><br><br>

                        <!-- product name -->
                        <tr>
                            <td class="col-3"></td>
                            <td class="col-2">
                                <div class="input-group mb-6">
                                    <label>Product Name: </label>
                                </div>
                            </td>
                            <td class="col-4">
                                <div class="input-group mb-6">
                                    <select id="myDropdown" name="productId">
                                        <option th:each="product,index :${productList}"
                                                th:value="${index.index}+1"
                                                th:text="${product.name}">

                                        </option>
                                    </select>
                                    </select>
                                </div>
                            </td>
                            <td class="col-3"></td>
                        </tr><br><br>

                        <tr>
                            <td class="col-3"></td>
                            <td class="col-2">
                                <div class="input-group mb-6">
                                    <label>unit Format </label>
                                </div>
                            </td>
                            <td class="col-4">
                                <div class="input-group mb-6">
                                    <select id="myDropdownunitformat" name="unitformat">
                                        <option th:each="product,index :${productList}"
                                                th:value="${index.index}+1"
                                                th:text="${product.unitformat}">

                                        </option>
                                    </select>
                                    </select>
                                </div>
                            </td>
                            <td class="col-3"></td>
                        </tr><br><br>
                        <!-- product name -->

                        <tr>
                            <td class="col-3"></td>
                            <td class="col-2">
                                <div class="input-group mb-6">
                                    <label for="costprice">Cost Price </label>
                                </div>
                            </td>
                            <td class="col-4">
                                <div class="input-group mb-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="costPrice" id="costprice"
                                               aria-describedby="helpId" placeholder="">
                                    </div>
                                </div>
                            </td>
                            <td class="col-3"></td>
                        </tr><br><br>
                        <!-- Purchase Price -->

                        <tr>
                            <td class="col-3"></td>
                            <td class="col-2">
                                <div class="input-group mb-6">
                                    <label for="quantity">Quantity </label>
                                </div>
                            </td>
                            <td class="col-4">
                                <div class="input-group mb-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="quantity" id="quantity"
                                               aria-describedby="helpId" placeholder="">
                                    </div>
                                </div>
                            </td>
                            <td class="col-3"></td>
                        </tr><br><br>
                        <!-- quantity  -->
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="2">
                                <button type="submit" class="btn bg-warning" value="Submit">Submit
                                </button>

                                <button type="button" class="btn bg-warning" value="Cancel">Cancel
                                </button>
                            </td>

                        </tr><br><br>
                        <!-- submit button-->
                    </table>
                </div>

            </form>
        </div>
        <div>
            <footer th:replace="common::common_footer"></footer>
        </div>
    </div>


</div>
<script th:replace="common::bootstrap"></script>
<script th:replace="common::custom-scripts"></script>
<script th:replace="common::chartjs"></script>
<script th:replace="common::chartjs-demo"></script>
<script th:replace="common::chartjs-bar-demo"></script>
<script th:replace="common::simple-datatables"></script>
<script th:replace="common::datatables-demo"></script>
<script>

    function getSelectedValue() {
        var selectedValue = document.getElementById("categoryname").value;
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var responseArray = JSON.parse(this.responseText);
               // Clear existing options from the dropdown
                var dropdown = document.getElementById("myDropdown");
                dropdown.options.length = 0;
                // Add options to the existing dropdown
                for (var i = 0; i < responseArray.length; i++) {
                    var option = document.createElement("option");
                    option.value = responseArray[i].productId;
                    option.text = responseArray[i].name;
                    dropdown.add(option);
                }


                //
                var dropdown = document.getElementById("myDropdownunitformat");
                dropdown.options.length = 0;
                // Add options to the existing dropdown
                for (var i = 0; i < responseArray.length; i++) {
                    var option = document.createElement("option");
                    option.value = responseArray[i].id;
                    option.text = responseArray[i].unitFormat;
                    dropdown.add(option);
                }
            }
        };
        xhttp.open("POST", "/fillmyproductdropdownlist", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("selectedValue=" + selectedValue);
    }




</script>
</body>
</html>
