<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!--    <meta name="description" content="Ogani Template">-->
<!--    <meta name="keywords" content="Ogani, unica, creative, html">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Green Grocery</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <link
            href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
            rel="stylesheet"
    />
    <!-- Css Styles -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
            crossorigin="anonymous"
    />
    <link href="../../../resources/static/css/bootstrap.min.css" type="text/css"  media="screen"  th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="../../../resources/static/css/font-awesome.min.css" type="text/css"  media="screen" th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
    <link href="../../../resources/static/css/elegant-icons.css" type="text/css"  media="screen" th:href="@{/css/elegant-icons.css}" rel="stylesheet" />
    <link href="../../../resources/static/css/nice-select.css" type="text/css"  media="screen" th:href="@{/css/nice-select.css}" rel="stylesheet" />
    <link href="../../../resources/static/css/jquery-ui.min.css" type="text/css"  media="screen" th:href="@{/css/jquery-ui.min.css}" rel="stylesheet" />
    <link href="../../../resources/static/css/owl.carousel.min.css" type="text/css"  media="screen" th:href="@{/css/owl.carousel.min.css}" rel="stylesheet" />
    <link href="../../../resources/static/css/slicknav.min.css" type="text/css"  media="screen" th:href="@{/css/slicknav.min.css}" rel="stylesheet" />
    <link href="../../../resources/static/css/style.css" type="text/css"  media="screen" th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <div th:insert="~{shopping/header :: HamburgerNavFragment}">&nbsp;</div>
    <div th:insert="~{shopping/header :: headerFragment}">&nbsp&nbsp;</div>
    <div th:insert="~{shopping/header :: dropDownFragment}">&nbsp&nbsp;</div>

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" th:data-setbg="@{img/breadcrumb.jpg}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2 style="color:green;">Green Grocery</h2>
                        <div class="breadcrumb__option">
                            <a th:href="@{/}">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>Department</h4>
                            <ul>
                                <li><a th:href="@{/products/category(cate='meat')}">Fresh Meat</a></li>
                                <li><a th:href="@{/products/category(cate='vegetables')}">Vegetables</a></li>
                                <li><a th:href="@{/products/category(cate='fruits')}">Fruit </a></li>
                                <li><a th:href="@{/products/category(cate='seafood')}">Ocean Foods</a></li>
                                <li><a th:href="@{/products/category(cate='milkEggs')}">Milk & Eggs</a></li>
                                <li><a th:href="@{/products/category(cate='snacks')}">Snacks</a></li>
<!--                                <li><a th:href="@{/products/category(cate='fruits')}">Fresh Onion</a></li>-->
<!--                                <li><a th:href="@{/products/category(cate='fruits')}">Papayaya & Crisps</a></li>-->
                            </ul>
                        </div>
                        <div class="sidebar__item">
                            <h4>Price</h4>
                            <div class="price-range-wrap">
                                <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                    data-min="10" data-max="540">
                                    <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                </div>
                                <div class="range-slider">
                                    <div class="price-input">
                                        <input type="text" id="minamount">
                                        <input type="text" id="maxamount">
                                    </div>
                                </div>
                            </div>
                        </div>

<!--                        <div class="sidebar__item">-->
<!--                            <h4>Popular Size</h4>-->
<!--                            <div class="sidebar__item__size">-->
<!--                                <label for="large">-->
<!--                                    Large-->
<!--                                    <input type="radio" id="large">-->
<!--                                </label>-->
<!--                            </div>-->
<!--                            <div class="sidebar__item__size">-->
<!--                                <label for="medium">-->
<!--                                    Medium-->
<!--                                    <input type="radio" id="medium">-->
<!--                                </label>-->
<!--                            </div>-->
<!--                            <div class="sidebar__item__size">-->
<!--                                <label for="small">-->
<!--                                    Small-->
<!--                                    <input type="radio" id="small">-->
<!--                                </label>-->
<!--                            </div>-->
<!--                            <div class="sidebar__item__size">-->
<!--                                <label for="tiny">-->
<!--                                    Tiny-->
<!--                                    <input type="radio" id="tiny">-->
<!--                                </label>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="sidebar__item">
                            <div class="latest-product__text">
                                <h4>Latest Products</h4>
                                <div class="latest-product__slider owl-carousel">
                                    <div  class="latest-prdouct__slider__item" th:each="newProduct: ${newProducts}">
                                        <a th:href="@{/productDetail(id=${newProduct.inventoryId})}" class="latest-product__item" >
                                            <div class="latest-product__item__pic">
                                                <img th:src="@{/img/product/{name}.jpg(name=${newProduct.getProduct().name})}" alt="" width="50">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6 th:text="${newProduct.getProduct().name}"></h6>
                                                <span th:text="${newProduct.salePrice}">$30.00</span>
                                            </div>
                                        </a>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    <div class="product__discount">
                        <div class="section-title product__discount__title">
                            <h2>Sale Off</h2>
                        </div>
                        <div class="row">
                            <div class="product__discount__slider owl-carousel">
                                <div th:each="product: ${productsOnSale}" class="col-lg-4" >
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                             th:data-setbg="@{/img/product/{name}.jpg(name=${product.getProduct().name})}">
                                            <div class="product__discount__percent">-20%</div>
                                            <ul class="product__item__pic__hover">
                                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                <li><a th:href="@{/productDetail(id=${product.inventoryId})}"><i class="fa fa-retweet"></i></a></li>
                                                <li>
                                                    <form th:action="@{/addToCart}" th:object="${cart}" method="post">
<!--                                                        <input type="number" th:field="*{id}" hidden/>-->
                                                        <input type="number"  th:value="${product.inventoryId}" id="inventoryId" name="inventoryId" hidden/>
                                                        <input type="text" id="clientNumber" name="clientNumber" th:value="${clientId}" hidden/>
                                                        <input type="number" id="units" name="units" value=1 hidden/>

                                                        <button type="submit">
                                                            <i class="fa fa-shopping-cart"></i></button></form></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span th:text="${product.getProduct().getCategory().name}">Dried Fruit</span>
                                            <h5><a th:href="@{/productDetail(id=${product.inventoryId})}" th:text="${product.getProduct().name}">Beef</a></h5>
                                            <div class="product__item__price" ><b th:text="${product.salePrice}"></b><span>$36.00</span></div>
                                        </div>
                                    </div>
                                </div>

                        </div>
                    </div>
                    <div class="filter__item">
                        <div class="row">
                            <div class="col-lg-4 col-md-5">
                                <div class="filter__sort">
                                    <span>Sort By</span>
                                    <select>
                                        <option value="0">Default</option>
                                        <option value="0">Default</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="filter__found">
                                    <h6><span>16</span> Products found</h6>
                                </div>
                            </div>
<!--                            <div class="col-lg-4 col-md-3">-->
<!--                                <div class="filter__option">-->
<!--                                    <span class="icon_grid-2x2"></span>-->
<!--                                    <span class="icon_ul"></span>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                    </div>
                    <div class="row">
                        <div th:each="inventory: ${inventories}" class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" th:data-setbg="@{/img/product/{name}.jpg(name=${inventory.getProduct().name})}">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a th:href="@{/productDetail(id=${inventory.inventoryId})}"><i class="fa fa-retweet"></i></a></li>
                                        <li>
                                            <form th:action="@{/addToCart}" th:object="${cart}" method="post">
<!--                                                <input type="number" th:field="*{id}" hidden/>-->
                                                <input type="number"  th:value="${inventory.inventoryId}" id="inventoryId2" name="inventoryId" hidden/>
                                                <input type="text" id="clientNumber2" name="clientNumber" th:value="${clientId}" hidden/>
                                                <input type="number" id="units2" name="units" value=1 hidden/>
                                                <button type="submit">
                                                    <i class="fa fa-shopping-cart"></i></button></form></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h5><a th:href="@{/productDetail(id=${inventory.inventoryId})}" th:text="${inventory.getProduct().name}">Beef</a></h5>
                                    <h5 th:text="'$'+${inventory.salePrice}+'/'+${inventory.getProduct().unitFormat}"></h5>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="product__pagination">
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->

    <div th:insert="~{shopping/header :: footerFragment}">&nbsp&nbsp;</div>

    <!-- Footer Section Begin -->
<!--    -->
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.nice-select.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.slicknav.js}"></script>
    <script type="text/javascript" th:src="@{/js/mixitup.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/owl.carousel.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <script
            src="https://kit.fontawesome.com/397899de76.js"
            crossorigin="anonymous"
    ></script>



</body>

</html>